# PostgreSQL Configuration (Local)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lab05_SQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here

# MongoDB Configuration (Atlas)
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=lab05

# Data Warehouse Configuration (PostgreSQL)
WAREHOUSE_HOST=localhost
WAREHOUSE_PORT=5432
WAREHOUSE_DB=lab05_warehouse
WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=your_password_here
